<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="register.js"></script>
</head>
<body ng-app="registerApp" ng-controller="registerController">
<div>
    <form>
        <fieldset>
            <legend>Register</legend>
            <label><strong>Class Id :</strong></label><input type="number" ng-model="form.classid">
            <label><strong>Name :</strong></label><input type="text" ng-model="form.name">
            <label><strong>Course Of Study :</strong></label><input type="text" ng-model="form.cos">
            <label><strong>Major :</strong></label><input type="text" ng-model="form.major">
            <label><strong>Minor :</strong></label><input type="text" ng-model="form.minor">
            <button ng-click="submit()">Submit</button>
        </fieldset>
    </form>
</div>
</body>
</html>